* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --gray: #c4c4c4;
  --black: #000000;
  --white: #ffffff;
  --danger: #ff0000;
  --gray-op-1: #c9d1d9;
  --button-dark-blue: #001e66;
  --button-light-blue: #76a4ff;
  --input-border-blue: #3878f9;
  --gray-op-2: rgb(139, 148, 158, 0.2);
  --radius: 15px;
}
body {
  font-size: 1.1rem;
  color: var(--black);
  background-color: var(--white);
  background-image: url('../assets/background.png');
  background-position: center center;
  background-size: cover;
}
#app {
  height: 95vh;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 6.25rem;
  margin-top: 25px;
}
.logo img {
  width: 120px;
  height: 80px;
}
.language {
  display: flex;
  align-items: center;
}
.world {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.select-language {
  display: flex;
  align-items: center;
}
.content-select select {
  width: 203px;
  height: 44px;
  left: 1321px;
  top: 68px;
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 35px;
}
.input,
.fieldset {
  width: 100%;
  line-height: 16px;
  margin-top: 0.5em;
  padding: 1.1em 0.9em;
  font-size: 1rem;
  color: var(--black);
  --radius: 15px;
  border-radius: var(--radius);
  border: 1px solid var(--gray);
  background-color: var(--white);
  font-family: Montserrat, sans-serif;
}
.input:focus {
  outline-width: 0px;
  border-color: var(--input-border-blue);
}
.div {
  text-align: center;
  padding-bottom: 50px;
}
.div img {
  width: 100px;
  height: 100px;
}
.align-r {
  text-align: right;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  width: 7.8rem !important;
  height: 3.1rem;
  font-size: 1rem;
  border-radius: var(--radius);
  border: none;
  font-family: Montserrat, sans-serif;
  color: var(--white);
  background-color: var(--button-dark-blue);
}
.btn:disabled {
  color: var(--gray-op-2);
  border: 1px solid var(--gray);
  background-color: var(--white);
}
.btn--back {
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: -53px;
  border-radius: 40px;
  border: 3px solid var(--gray);
  background-color: var(--button-dark-blue);
}
.btn-sm {
  width: 40%;
}
.btn--secondary {
  color: var(--white);
  background-color: var(--button-light-blue);
}
.btn--secondary:disabled {
  border: 1px solid var(--gray-op-2);
}
.calendary_filter {
  gap: 12px;
  display: grid;
  padding: 30px;
  max-width: 450px;
  max-height: 388px;
  min-width: min-content;
  width: 80%;
  margin: auto;
  border-radius: 13px;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  border: 2px solid var(--gray);
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.calendary_filter__date_search:focus {
  outline-width: 0px;
  border-color: var(--input-border-blue);
}
.box {
  display: none;
}
.span_error {
  width: 95%;
  background: var(--white);
  color: var(--black);
  display: flex;
  border-radius: 5px;
  padding: 3px 15px;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  margin: auto;
  margin-top: 5px;
}
.fa {
  margin: 1.15px;
}
