.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.mt-2 {
  margin-top: 0.75rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: -4rem;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.error {
  border: 1px solid var(--danger);
}